<html>
    <head>
        <title>Character Site</title>
        <link rel="icon" type="staricon" href="images/star.png" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="Character.css" rel="stylesheet" />
        <meta charset="utf-8" />
    </head>
    <body>
        <!-- Character Detail Modal -->
        <div id="characterDetailsModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="characterName"></h5>
                        <button type="button" class="btn btn-primary btn-next">Next</button>
                        <button type="button" class="btn-close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img id="characterImage" src="" alt="Character Image" class="img-fluid" />
                        <p id="characterDescription"></p>
                    </div>
                </div>
            </div>
        </div>
        
                {{ characterCards }}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            function closeModal() {
                const modal = document.getElementById("characterDetailsModal");
                modal.style.display = "none";
            }

            function showCharacterDetails(characterName) {
                var request = new XMLHttpRequest();
                request.open("GET", "/characterData/" + characterName, true);
                request.onload = function () {
                    if (request.status == "200") {
                        var character = JSON.parse(request.responseText);
                        if (!character) return;

                        var modal = document.getElementById("characterDetailsModal");
                        modal.querySelector("#characterName").textContent = character.name;
                        modal.querySelector("#characterImage").src = character.fullSizeImage;
                        modal.querySelector("#characterDescription").textContent = character.summary.replace(/\\n/g, "\n");

                        modal.style.display = "block";
                    }else {
                        console.error("Request failed with status: " + request.status);
                    }
                };
                request.send(null);
            }

            function toggleFavoriteFromCard(characterName, event) {
                event.stopPropagation();
                var request = new XMLHttpRequest();
                request.open("GET", "/toggleFavorite/" + characterName, true);
                request.onload = function () {
                    if (request.status == "200") {
                        location.reload();
                    }else {
                        console.error("Request failed with status: " + request.status);
                    }
                };
                request.send(null);
            }

            var characters = ["Mario", "Pikachu", "Fox", "Samus", "Captain Falcon"];
            var currentCharacterIndex = 0;

            function showNextCharacter() {
                currentCharacterIndex = (currentCharacterIndex + 1) % characters.length;
                showCharacterDetails(characters[currentCharacterIndex]);
            }

            window.onload = function () {
                document.querySelector("#characterDetailsModal .btn-close").addEventListener("click", closeModal);
                document.querySelector("#characterDetailsModal .btn-next").addEventListener("click", showNextCharacter);
            };
        </script>
    </body>
</html>
